falcon
hug
chardet
certifi
idna
python_mimeparse
requests
six
urllib3
waitress
tensorflow-gpu>=1.10.0,<=1.14.0
umap-learn
visdom
webrtcvad
librosa>=0.5.1
matplotlib>=2.0.2
numpy==1.16.4
scipy>=1.0.0
tqdm
sounddevice
Unidecode
inflect
PyQt5
multiprocess
numba
SoundFile
torch==1.2.0
